<header class="page-header">
  <div class="container">
    <section id="top" class="animate-up">
      <h2 class="sr-only">Homepage</h2>
      <img id="logo" src="/assets/images/logo.svg" alt="Logo" />
      <span id="notification">
        <img src="/assets/images/alert-octagon.svg" alt="Alerta" />
        Você tem 2 horas livres no seu dia
      </span>
      <a href="profile.html" id="avatar-profile">
        <p>Jakeliny <span>Ver perfil</span></p>
        <img
          src="https://avatars.githubusercontent.com/u/17316392?s=460&u=6912a91a70bc89745a2079fdcdad3bc3ce370f13&v=4"
        />
      </a>
    </section>

    <div class="separator"></div>

    <section id="summary" class="animate-up delay-1">
      <h2 class="sr-only">Sumário</h2>

      <div class="info">
        <div class="total">
          <strong>12</strong>
          Projetos ao total
        </div>
        <div class="in-progress">
          <strong>7</strong>
          Em andamento
        </div>
        <div class="finished">
          <strong>4</strong>
          Encerrados
        </div>
      </div>
      <a class="button orange" href="job.html">
        <span>
          <img src="/assets/images/plus-24.svg" alt="Novo Job" />
        </span>
        Adicionar novo job
      </a>
    </section>
  </div>
</header>
