<app-header
  [profile]="profile"
  [statusCount]="statusCount"
  [freeHours]="freeHours"
></app-header>

<div class="container">
  <main class="animate-up delay-2">
    <h1 class="sr-only">Trabalhos</h1>

    <div class="cards" *ngIf="jobs">
      <div
        class="card progress"
        *ngFor="let job of jobs"
        data-id="{{ job.id }}"
      >
        <div class="id column">{{ job.id }}</div>
        <div class="name column">{{ job.name }}</div>
        <div class="deadline column">
          <span>Prazo</span>
          <p *ngIf="job.remaining">{{ job.remaining }} dias para a entrega</p>
        </div>
        <div class="amount column">
          <span>Valor</span>
          <p>R$ {{ job.budget }}</p>
        </div>
        <div class="status badge column">{{ job.status }}</div>
        <div class="actions column flex">
          <p class="sr-only">Ações</p>
          <a
            [routerLink]="['/job-edit', job.id]"
            class="button white edit"
            title="Editar Job"
          >
            <img src="/assets/images/edit-24.svg" alt="Editar Job" />
          </a>
          <a
            [routerLink]="['/job-edit', job.id]"
            class="delete button white"
            title="Excluir Job"
          >
            <img src="/assets/images/trash-24.svg" alt="Excluir Job" />
          </a>
        </div>
      </div>
      <!-- end card -->
    </div>
    <!-- end cards -->
  </main>
</div>
<!-- end container -->

<div class="modal-wrapper">
  <div class="modal">
    <img
      src="/assets/images/trash-48.svg"
      alt="Excluir Job"
      title="Excluir Job"
    />
    <h3>Excluir Job</h3>
    <p>
      Quer mesmo excluir esse job? <br />
      Ele será apagado para sempre.
    </p>

    <p></p>
    <footer>
      <a class="button gray" href="#">Cancelar</a>
      <button class="button red" type="submit" form="delete-job">
        Excluir Job
      </button>
    </footer>
  </div>
  <form method="post" action="/job/delete" id="delete-job"></form>
</div>
<!-- end modal-wrapper -->
